<%= render @brewery %>

<div>
  <%= link_to "Back to breweries", breweries_path, class:"btn btn-secondary" %>
  <% if current_user %>
    <%= edit_and_destroy_buttons(@brewery) %>
  <% end %>
  <p>
    <%=link_to 'list of beers', beers_path, class:"btn btn-secondary" %>
  </p>
</div>
