<h2>Beer tax calculator</h2>

<div data-controller="calculator" class="container">
   <form data-action="calculator#calculate">
      <div>
         <label>Amount</label>
         <input type="number" min="0" step="0.001" value="0.000" required="true" data-calculator-target="amount" />
         <label>liters</label>
      </div>
      <div>
         <label>Alcohol by volume (ABV)</label>
         <input type="number" min="0" step="0.01" value="0.00" required="true" data-calculator-target="abv" />
         <label>%</label>
      </div>
      <div>
         <label>Price </label>
         <input type="number" min="0" step="0.01" value="0.00" required="true" data-calculator-target="price" />
         <label>€</label>
      </div>
      </br>
      <button>Calculate</button>
   </form>
   </br>
   <div id="result">
   </div>
</div>   